<!-- chat/templates/chat/index.html -->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <style> 
      a {
        color: #FFFFFF;
      }

      a:hover {
        color: #FFFFFF;
        text-decoration: none;
      }

      .options {
        float: right;
        position: absolute;
        right: 20px;
      }
  </style> 
  </head>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
            <div class="avatar-upload cursor-default">
              <div class="avatar-edit">
                <input type='file' id="imageupload" accept="file_extension|audio/*|video/*|image/*|media_type"/>
                  <label for="imageupload"></label>
              </div>
            <div class="avatar-preview">
              <div id="profile-img" class="imagePreview" style="background-image: url(
                  {% if contact.profile_photo %}
                    {{ contact.profile_photo.url }}
                  {% else %}
                    {% static 'profile-icon.png' %}
                  {% endif %}
                  );">
            </div>
          </div>
          <p>{{author}}</p>
        </div>
        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" id="myInput" onkeyup="filterSearch()" placeholder="Search contacts..." />
      </div>
      <div id="contacts">
        <ul id="myUL">
          {% for chat in filtered_chats %}
          <a href="{% url 'room' chat.id %}">
            <li class="contact">
              {% if chat.num_notifications == 0 or notification_contact == contact %}
              {% else %}
              <span class="badge">{{ chat.num_notifications }}</span>
              {% endif %}
              <div class="wrap">
                {% for person in chat.other_contacts %}
                {% if person == contact %}
                {% else %}
                {% if person.profile_photo %}
                <img src= "{{ person.profile_photo.url }}" alt="" />
                {% else %}
                <img src= "{% static 'profile-icon.png' %}" alt="" />
                {% endif %}
                {% endif %}
                {% endfor %}
                <div class="meta">
                  {% for p in chat.other_participants %}
                  {% if p == author %}
                  {% else %}
                  <p class="name">{{p}}</p>
                  {% endif %}
                  {% endfor %}
                  <p class="preview">{{ chat.most_recent_message }}</p>
                </div>
              </div>
            </li></a>
          {% endfor %}
        </ul>
      </div>
      <div id="bottom-bar">
        <a href= "{% url 'all_users' %}">
        <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button></a>
        <a href= "{% url 'logout' %}">
        <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Logout</span></button></a>
      </div>
    </div>
    <div class="content">
      <div class="contact-profile">
        <div class="options">
          <div class="dropdown" style="font-size: 16px;">
            <button id='deletebutton'><b>Delete</b></button>
            <button class='dropbtn' id='dropbtnid'>
              <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="messages">
        <ul id="chat-log">
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <input id="chat-message-input" type="text" placeholder="Write your message..." />
        <label for="fileUpload" id="filebutton">
          <center>
            <i class="fa fa-paperclip" style="color:#DDDDDD; " aria-hidden="true"></i>
          </center>
        </label>
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
        </div>
      </div>
    </div>
  </div>

<script src="{% static 'main.js' %}"></script>
<script src="{% static 'reconnecting-websocket.js' %}"></script>
<script>

    function filterSearch() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName('li');
  
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("p")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }

    function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        var result = e.target.result;
        var url = "{% url 'profile_photo' %}"
        var fileName = '{{ user.id }}' + '_apfp.' + input.files[0].name.split('.').pop(); // unique filename
        var fd = new FormData();
        fd.append("file", input.files[0], fileName);
        fd.append("csrfmiddlewaretoken", '{{ csrf_token }}');
        $.ajax({   
          type: "POST",                    
          url: url,                    
          data: fd,
          cache: false,
          contentType: false, 
          processData: false, 
          success: function (data) {
          }
        });
        $('.imagePreview').css('background-image', 'url('+e.target.result +')');
        $('.imagePreview').hide();
        $('.imagePreview').fadeIn(650);
      }
      reader.readAsDataURL(input.files[0]);
      }
    }
    $("#imageupload").change(function() {
        readURL(this);
    });

</script>
</body>

</html> 