<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <style> 
      a {
        color: #FFFFFF;
      }

      a:hover {
        color: #FFFFFF;
        text-decoration: none;
      }
  </style> 
  </head>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <!-- <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" /> -->
          <!-- <img class="dropdown-menu dropdown-menu-right" aria-labelledby="dd3">                 -->
            <div class="avatar-upload cursor-default">
              <div class="avatar-edit">
                <input type='file' id="imageupload" accept="file_extension|audio/*|video/*|image/*|media_type"/>
                  <label for="imageupload"></label>
              </div>
            <div class="avatar-preview">
              <div id="profile-img" class="imagePreview" style="background-image: url(
                  {% if contact.profile_photo %}
                    {{ contact.profile_photo.url }}
                  {% else %}
                    {% static 'profile-icon.png' %}
                  {% endif %}
                  );">
            </div>
          </div>
          <p>{{author}}</p>
        </div>
          <!-- <p>Mike Ross</p>
          <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
          <div id="status-options">
            <ul>
              <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
              <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
              <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
              <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
            </ul>
          </div>
          <div id="expanded">
            <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mikeross" />
            <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="ross81" />
            <label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mike.ross" />
          </div> -->
        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" id="myInput" onkeyup="filterSearch()" placeholder="Search contacts..." />
      </div>
      <div id="contacts">
        <ul id="myUL">
          {% for chat in filtered_chats %}
          <a href="{% url 'room' chat.id %}">
            <li class="contact">
              <span class="badge">{{ chat.num_notifications }}</span>
              <div class="wrap">
                <!-- <span class="contact-status online"></span> -->
                {% for person in chat.other_contacts %}
                {% if person == contact %}
                {% else %}
                {% if person.profile_photo %}
                <img src= "{{ person.profile_photo.url }}" alt="" />
                {% else %}
                <img src= "{% static 'profile-icon.png' %}" alt="" />
                {% endif %}
                {% endif %}
                {% endfor %}
                <div class="meta">
                  {% for p in chat.other_participants %}
                  {% if p == author %}
                  {% else %}
                  <p class="name">{{p}}</p>
                  {% endif %}
                  {% endfor %}
                  <p class="preview">{{ chat.most_recent_message }}</p>
                </div>
              </div>
            </li></a>
          {% endfor %}
          <!-- <li class="contact">
            <div class="wrap">
              <span class="contact-status online"></span>
              <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
              <div class="meta">
                <p class="name">Louis Litt</p>
                <p class="preview">You just got LITT up, Mike.</p>
              </div>
            </div>
          </li>
          <li class="contact active">
            <div class="wrap">
              <span class="contact-status busy"></span>
              <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
              <div class="meta">
                <p class="name">Harvey Specter</p>
                <p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
      <div id="bottom-bar">
        <a href= "{% url 'all_users' %}">
        <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button></a>
        <a href= "{% url 'logout' %}">
        <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Logout</span></button></a>
      </div>
    </div>
    <div class="content">
      <div class="contact-profile">
        {% for person in participants %}
        {% if person == contact %}
        {% else %}
        {% if person.profile_photo %}
        <img src= "{{ person.profile_photo.url }}" alt="" />
        <p>{{ person }}</p>
        {% else %}
        <img src= "{% static 'profile-icon.png' %}" alt="" />
        <p>{{ person }}</p>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- <div class="social-media">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i> -->
        <!-- </div> -->
      </div>
      <div class="messages">
        <ul id="chat-log">
          <!-- {% comment %} <li class="sent">
            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
            <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
          </li>
          <li class="replies">
            <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
            <p>When you're backed against the wall, break the god damn thing down.</p>
          </li> {% endcomment %} -->
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
          <input id="chat-message-input" type="text" placeholder="Write your message..." />
          <button>
            <label>
              <img src="/static/paperclip.png">
              <span><input type='file' id="fileUpload" accept="file_extension|audio/*|video/*|image/*|media_type" name='file_input'/></span>
            </label>
          </button>
          <div id="fileUpload" class="imagePreview" style="background-image: url(
              {{ file.attachment.url }}
              );">
          </div>
          <button id="chat-message-submit" class="submit" name="submit">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

<script src="{% static 'main.js' %}"></script>
<script src="{% static 'reconnecting-websocket.js' %}"></script>
<script>
    var roomName = {{ room_name_json }};
    var username = {{ username }};

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');
        
    // chatSocket.binaryType = 'arraybuffer';

    chatSocket.onopen = function(e) {
      fetchMessages(username, roomName);
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        document.getElementById("contacts").setAttribute('data-notification', data['notification_id']);

        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {        // save File object, append filepath (eg. message.msg_file.url)  
        uploadFile($("#fileUpload")[0]);
        var messageInputDom = document.getElementById('chat-message-input');
        var message = messageInputDom.value;
        if (message == '') {
          return
        } else {
            chatSocket.send(JSON.stringify({ 
            'command': 'new_message',
            'message': message,
            'from': username,
            'room_name': roomName,
            'filepath': ''
          }));
        }
      };

    document.querySelector('#contacts').onclick = function(e) {
        var notification_id = document.getElementById("contacts").getAttribute('data-notification');
        chatSocket.send(JSON.stringify({
            'command': 'notification_read',
            'from': username,
            'room_name': roomName,
            'notification_id': Number(notification_id),
        }));
    };

    function filterSearch() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName('li');
  
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("p")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }

    function fetchMessages(username, roomName) {
      chatSocket.send(JSON.stringify({'command': 'fetch_messages', 'username': username, 'room_name': roomName}));
      // document.querySelector('#chat-log').lastChild.scrollIntoView(false);
    }

    function createMessage(data) {
      console.log(data)
      var author = data['author'];
      var msgListTag = document.createElement('li');
      var imgTag = document.createElement('img');
      var pTag = document.createElement('p');
      var dateTag = document.createElement('SUB');
      dateTag.textContent = renderTimestamp(data.timestamp);
      supported_img_files = ['jpg', 'jpeg', 'png', 'webp'];
      supported_txt_files = ['doc', 'pdf', 'txt', 'docx'];
      remove_quotes = data.content.replace(/\"/g, "")
      if (supported_img_files.includes(remove_quotes.split(".")[1])) { // if data.content is an img url
        var imgfileTag = document.createElement('img')
        imgfileTag.src = remove_quotes
        pTag.appendChild(imgfileTag)
        dateTag.id = "dateTag"
      } else if (supported_txt_files.includes(remove_quotes.split(".")[1])) { // if data.content is a file url
          var fileTag = document.createElement('a')
          fileTag.href = data.content.replace(/\"/g, "");
          part_one = remove_quotes.split('/')[3].split('_').slice(0, -1).join(' ')
          file_name = part_one.concat('.' + remove_quotes.split(".")[1])
          fileTag.download = file_name
          var name_tag = document.createElement('p')
          var img_logo = document.createElement('img')
          img_logo.src = "/static/download.png"
          var small = document.createElement('small')
          small.textContent = file_name
          name_tag.appendChild(img_logo)
          name_tag.appendChild(small)
          fileTag.appendChild(name_tag)
          pTag.appendChild(fileTag)
          dateTag.id = "dateTag"
      } else {
          pTag.textContent = data.content + "\r\n";
          dateTag.style.fontSize = "8px"
      };
      // dateTag.textContent = renderTimestamp(data.timestamp);

      // dateTag.style.fontSize = "8px"
      pTag.appendChild(dateTag);

      if (author === username) {
        msgListTag.className = 'sent';
        {% if contact.profile_photo %}
        imgTag.src= "{{ contact.profile_photo.url }}";
        {% else %}
        imgTag.src= "{% static 'profile-icon.png' %}";
        {% endif %}
      } else {
        msgListTag.className = 'replies';
        {% for person in participants %}
        {% if person == contact %}
        {% else %}
        {% if person.profile_photo %}
        imgTag.src= "{{ person.profile_photo.url }}";
        {% else %}
        imgTag.src= "{% static 'profile-icon.png' %}";
        {% endif %}
        {% endif %}
        {% endfor %}
      }
      msgListTag.appendChild(imgTag);
      msgListTag.appendChild(pTag);
      document.querySelector('#chat-log').appendChild(msgListTag);
      document.querySelector('#chat-log').lastChild.scrollIntoView(false);
    }
    
    function renderTimestamp(timestamp) {
      let prefix = "";
      var timeDiff = Math.round(
        (new Date().getTime() - new Date(timestamp).getTime()) / 60000
      );
      if (timeDiff < 1) {
        // less than one minute ago
        prefix = "just now";
      } else if (timeDiff < 60 && timeDiff >= 1) {
        // less than sixty minutes ago
        prefix = `${timeDiff} minutes ago`;
      } else if (timeDiff < 120 && timeDiff >= 60) {
        // less than 2 hours ago
        prefix = `${Math.round(timeDiff / 60)} hour ago`;
      } else if (timeDiff < 24 * 60 && timeDiff >= 120) {
        // less than 24 hours ago, more than 2h ago
        prefix = `${Math.round(timeDiff / 60)} hours ago`;
      } else if (timeDiff < 31 * 24 * 60 && timeDiff >= 24 * 60) {
        // less than 1 month
        prefix = `${Math.round(timeDiff / (60 * 24))} days ago`;
      } else {
        prefix = `${new Date(timestamp)}`;
      }
      return prefix;
    }

    function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        var result = e.target.result;
        var url = "{% url 'profile_photo' %}"
        var fileName = '{{ user.id }}' + '_apfp.' + input.files[0].name.split('.').pop(); // unique filename
        var fd = new FormData();
        fd.append("file", input.files[0], fileName);
        fd.append("csrfmiddlewaretoken", '{{ csrf_token }}');
        $.ajax({   
          type: "POST",                    
          url: url,                    
          data: fd,
          cache: false,
          contentType: false, // Must put to parse csrf_token via ajax
          processData: false, // Must put to parse csrf_token via ajax
          success: function (data) {
          }
        });
        $('.imagePreview').css('background-image', 'url('+e.target.result +')');
        $('.imagePreview').hide();
        $('.imagePreview').fadeIn(650);
      }
      reader.readAsDataURL(input.files[0]);
      }
    }
    $("#imageupload").change(function() {
        readURL(this);
    });

    function uploadFile(input) { 
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          var result = e.target.result;
          var url = "{% url 'upload_file' %}"
          var fileName = input.files[0].name
          console.log(fileName)
          var fd = new FormData();
          fd.append("file", input.files[0], fileName);
          fd.append("csrfmiddlewaretoken", '{{ csrf_token }}');
          $.ajax({   
            type: "POST",                    
            url: url,                    
            data: fd,
            cache: false,
            contentType: false, // Must put to parse csrf_token via ajax
            processData: false, // Must put to parse csrf_token via ajax
            success: function (data) {
              var filepath = data['filepath']
              var messageInputDom = document.getElementById('chat-message-input');
              var message = messageInputDom.value;
              chatSocket.send(JSON.stringify({ 
                'command': 'new_message',
                'message': message,
                'from': username,
                'room_name': roomName,
                'filepath': filepath,
              }));

              messageInputDom.value = '';
            },
          });
        }
        reader.readAsDataURL(input.files[0]);
        }
    }

</script>
</body>

</html> 